<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/exercise.css">
  <title> Exercises </title>
  <hr>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Basic Workout Routines</h1>
        <p class="lead">Choose between cardio , weight training, or full body training routines</p>
      </div>
    </div>
  <hr>

</head>
<nav class="navbar navbar-dark bg-dark navbar-fixed-top">
    <div class="container-fluid text-white">
        <div class="navbar-header">
            <a class="navbar-brand">Fit Track</a>
        </div>
        <ul class="nav navbar-nav list-inline">
        <li class="list-inline-item"><form id="navlink3" method="POST" action="/api/dashboard">
        <a href="#" type="submit" style="color:white" onclick="document.getElementById('navlink3').submit()">Return to DashBoard</a></form>
        </li>

        </ul>
    </div>
</nav>
<body>
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<div class="container-fluid" id="ExerciseButtons">
  <div class="card">
    <div class="card-header" id="cardio">
      <div class="text-center">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#cardioColl" aria-expanded="false" aria-controls="cardioColl">
          Cardio
        </button>
      </h2>
    </div>
    <div id="cardioColl" class="collapse" aria-labelledby="cardio" data-parent="#ExerciseButtons">
      <div class="card-body">
        <h5> Complete the following exercises: </h5>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Complete</th>
              <th scope="col">Exercise</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"><input type="checkbox"></input></th>
              <td>3 sets of 60 second squat jumps</td>
              <td> <img src="../static/images/workout_images/squatjump.jpeg" alt="squat jump" width="300" height="200"> </td>
            </tr>
            <tr>
              <th scope="row"><input type="checkbox"></input></th>
              <td>3 sets of 40 second crunches</td>
              <td> <img src="../static/images/workout_images/crunches.jpeg" alt="crunches" width="300" height="200"> </td>
            </tr>
            <tr>
              <th scope="row"><input type="checkbox"></input></th>
              <td>3 sets of 30 second jack-knife from lying flat</td>
              <td> <img src="../static/images/workout_images/jack_knife.jpeg" alt="jack_knife" width="300" height="200"> </td>
            </tr>
            <tr>
              <th scope="row"><input type="checkbox"></input></th>
              <td>3 sets of 60 second body weight pistol squats</td>
              <td> <img src="../static/images/workout_images/pistol_squats.jpeg" alt="pistol squat" width="300" height="200"> </td>
            </tr>
            <tr>
              <th scope="row"><input type="checkbox"></input></th>
              <td>3 sets of 30 second squats with lateral leg raises, alternating sides</td>
              <td> <img src="../static/images/workout_images/lateral_leg.jpeg" alt="leg raises" width="300" height="200"> </td>
            </tr>
            <tr>
              <th scope="row"><input type="checkbox"></input></th>
              <td>3 sets of 30 second bridge to leg raises, alternating sides</td>
              <td> <img src="../static/images/workout_images/bridge_raise.jpeg" alt="bridge raise" width="300" height="200"> </td>
            </tr>
            <tr>
              <th scope="row"><input type="checkbox"></input></th>
              <td> 3 sets of 30 second bridges</td>
              <td> <img src="../static/images/workout_images/bridges.jpeg" alt="bridges" width="300" height="200"> </td>
            </tr>
            <tr>
              <th scope="row"><input type="checkbox"></input></th>
              <td>3 sets of 45 second donkey kicks</td>
              <td> <img src="../static/images/workout_images/donkey.png" alt="donkey" width="300" height="200"> </td>
            </tr>
            <tr>
              <th scope="row"><input type="checkbox"></input></th>
              <td>3 sets of 30 second swimmers</td>
              <td> <img src="../static/images/workout_images/swimmer.jpeg" alt="swimmer" width="300" height="200"> </td>
            </tr>
            <tr>
              <th scope="row"><input type= "checkbox"></input></th>
              <td>3 sets of 20 second per side plank rotations</td>
              <td> <img src="../static/images/workout_images/side_plank.jpeg" alt="side_plank" width="300" height="200"> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </div>

  <div class="card">
    <div class="card-header" id="weights">
      <div class="text-center">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#weightColl" aria-expanded="false" aria-controls="weightColl">
          Weights
        </button>
      </h2>
    </div>
    <div id="weightColl" class="collapse" aria-labelledby="weights" data-parent="#ExerciseButtons">
      <div class="card-body">
        <h5> Complete the following exercises: </h5>
        <h5> Each set consists of 10 reps </h5>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Complete</th>
              <th scope="col">Exercise</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"><input type="checkbox"></input></th>
              <td>3 sets dumbbell flat bench press</td>
              <td> <img src="../static/images/workout_images/weights/dbflatbench.png" alt="dbflatbench.jpeg" width="300" height="200"> </td>
            </tr>
            <tr>
              <th scope="row"><input type="checkbox"></input></th>
              <td>3 sets dumbbell lateral raise</td>
              <td> <img src="../static/images/workout_images/weights/lat_raise.png" alt="lat_rase.jpeg" width="300" height="200"> </td>
            </tr>
            <tr>
              <th scope="row"><input type="checkbox"></input></th>
              <td> 3 sets seated arnold dumbbell press</td>
              <td> <img src="../static/images/workout_images/weights/seated_db_press.jpeg" alt="seated_db_press.jpeg" width="300" height="200"> </td>
            </tr>
            <tr>
              <th scope="row"><input type="checkbox"></input></th>
              <td>3 sets lying dumbbell tricep extension</td>
              <td> <img src="../static/images/workout_images/weights/skull_crushers.jpeg" alt="skull_crushers.jpeg" width="300" height="200"> </td>
            </tr>
            <tr>
              <th scope="row"><input type="checkbox"></input></th>
              <td>3 sets seated tricep press</td>
              <td> <img src="../static/images/workout_images/weights/seated_tricep.jpeg" alt="seated_tricep.jpeg" width="300" height="200"> </td>
            </tr>
            <tr>
              <th scope="row"><input type="checkbox"></input></th>
              <td>3 sets squat to overhead press </td>
              <td> <img src="../static/images/workout_images/weights/squat_overhead.jpeg" alt="squat_overhead.jpeg" width="300" height="200"> </td>
            </tr>
            <tr>
              <th scope="row"><input type="checkbox"></input></th>
              <td> 3 sets tricep dumbbell kickback</td>
              <td> <img src="../static/images/workout_images/weights/tricep_kickback.jpeg" alt="tricep_kickback.jpeg" width="300" height="200"> </td>
            </tr>
            <tr>
              <th scope="row"><input type="checkbox"></input></th>
              <td>3 sets upright dumbell row</td>
              <td> <img src="../static/images/workout_images/weights/upright.jpeg" alt="dbflatbench.jpeg" width="300" height="200"> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    </div>
    </div>

  <div class="card">
    <div class="card-header" id="fullBody">
      <div class="text-center">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#fullBodColl" aria-expanded="false" aria-controls="fullBodColl">
          Full Body Workout
        </button>
      </h2>
    </div>
    <div id="fullBodColl" class="collapse" aria-labelledby="fullBody" data-parent="#ExerciseButtons">
      <div class="card-body">
        <h5> Complete the following exercises: </h5>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Complete</th>
              <th scope="col">Exercise</th>
              <th scope="col">Time per Set</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"><input type="checkbox"></input></th>
              <td>3 sets per side squat crunch kicks</td>
              <td>30 seconds</td>
              <td> <img src="../static/images/workout_images/full_body/squat_crunch.jpeg" alt="dbflatbench.jpeg" width="300" height="200"> </td>
            </tr>
            <tr>
              <th scope="row"><input type="checkbox"></input></th>
              <td>3 sets high plank walk</td>
              <td>60 seconds</td>
              <td> <img src="../static/images/workout_images/full_body/high_plank_walk.jpeg" alt="dbflatbench.jpeg" width="300" height="200"> </td>
            </tr>
            <tr>
              <th scope="row"><input type="checkbox"></input></th>
              <td> 3 sets per side dumbbell oblique crunches</td>
              <td>30 seconds</td>
              <td> <img src="../static/images/workout_images/full_body/side_raises.jpeg" alt="dbflatbench.jpeg" width="300" height="200"> </td>
            </tr>
            <tr>
              <th scope="row"><input type="checkbox"></input></th>
              <td>3 sets frog jumps</td>
              <td>60 seconds</td>
              <td> <img src="../static/images/workout_images/full_body/frog_jump.jpeg" alt="dbflatbench.jpeg" width="300" height="200"> </td>
            </tr>
            <tr>
              <th scope="row"><input type="checkbox"></input></th>
              <td>3 sets per side on-side leg crossovers</td>
              <td>30 seconds</td>
              <td> <img src="../static/images/workout_images/full_body/crossovers.jpeg" alt="dbflatbench.jpeg" width="300" height="200"> </td>
            </tr>
            <tr>
              <th scope="row"><input type="checkbox"></input></th>
              <td>3 sets per side dumbbell raises </td>
              <td>30 seconds</td>
              <td> <img src="../static/images/workout_images/full_body/side_raises.jpeg" alt="dbflatbench.jpeg" width="300" height="200"> </td>
            </tr>
            <tr>
              <th scope="row"><input type="checkbox"></input></th>
              <td>3 sets per side high donkey kicks</td>
              <td>30 seconds</td>
              <td> <img src="../static/images/workout_images/full_body/dokney_side_kick.jpeg" alt="dbflatbench.jpeg" width="300" height="200"> </td>
            </tr>
            <tr>
              <th scope="row"><input type="checkbox"></input></th>
              <td>3 sets leg extensions</td>
              <td>60 seconds</td>
              <td> <img src="../static/images/workout_images/full_body/leg_extensions.jpeg" alt="dbflatbench.jpeg" width="300" height="200"> </td>
            </tr>
            <tr>
              <th scope="row"><input type="checkbox"></input></th>
              <td>3 sets per side dumbbell bicep curls</td>
              <td>30 seconds</td>
              <td> <img src="../static/images/workout_images/full_body/bicep_curls.jpeg" alt="dbflatbench.jpeg" width="300" height="200"> </td>
            </tr>
            <tr>
              <th scope="row"><input type="checkbox"></input></th>
              <td>3 sets of 60 second plie squat calf raises</td>
              <td>60 seconds</td>
              <td> <img src="../static/images/workout_images/full_body/calf_raises.jpeg" alt="dbflatbench.jpeg" width="300" height="200"> </td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
    </div>
    </div>

</div>
</body
</html>
